.connected {
    display: flex;
    flex-direction: column;
    height: 270px;
    background-color: #232323;
    text-align: center;

    .connected-title {
        margin-top: 122px;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .connecnet-title-text {
        margin-top: 8px;
        font-size: 16px;
        line-height: 26px;
    }

    .connected-ico {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-top: 17px;

        svg {
            width: 25px;
            height: 25px;
        }
    }
}

