.card {
  width: 540px;
  padding: 50px 30px;
  background-color: #232323;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card .card-country {
  margin-bottom: 23px;
}
.card .card-hotel {
  text-transform: uppercase;
  margin-bottom: 13px;
}
.card .card-description {
  margin-bottom: 46px;
}

.spain-first-preview {
  background-image: url(../assets/images/spain-first-preview-background.jpg);
  height: 700px;
}
.spain-first-preview .card {
  position: absolute;
  margin-top: 230px;
  margin-left: 330px;
}

.spain-second-preview {
  background-image: url(../assets/images/spain-second-preview-background.jpg);
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.spain-second-preview .card {
  position: absolute;
  margin-top: 230px;
  margin-right: 330px;
}