.review {
  background-image: url(../assets/images/tourist-say-background.jpg);
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review .review-title {
  margin-top: 128px;
}
.review .review-card {
  width: 1113px;
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.review .review-card .review-card-image {
  background-image: url(../assets/images/tourist-say-preview.jpg);
  -webkit-box-flex: 0.45;
      -ms-flex-positive: 0.45;
          flex-grow: 0.45;
}
.review .review-card .review-card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.55;
      -ms-flex-positive: 0.55;
          flex-grow: 0.55;
  width: 0;
  padding: 49px 25px 39px 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333333;
}
.review .review-card .review-card-description .title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 26px;
}
.review .review-card .review-card-description .description {
  font-size: 16px;
  line-height: 26px;
}