.connected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 270px;
  background-color: #232323;
  text-align: center;
}
.connected .connected-title {
  margin-top: 122px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.connected .connecnet-title-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 26px;
}