
.main-screen {
    background-image: url(../assets/images/main-background.jpg);
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    &-header {
        margin-block-end: 48px;
        font-family: var(--josefin-font);
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        color: #FFFFFF;
        letter-spacing: 6.82px;
    }

    &-scroller {
        margin-block-end: 153px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .scroll-down-text {
            font-family: var(--josefin-font);
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: #FFFFFF;
            letter-spacing: 2.8px;
        }

        .scroll-down-ico {
            width: 17px;
            height: 11px;
        }

        .scroll-down-ico:hover {
            cursor: pointer;
        }
        
    }

    &-navigation {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 83px;
        width: 100%;
        background-color: #5474FD;
        padding: 0 300px;

        h2 {
            text-transform: uppercase;
            padding: 0;
            margin: 0;
        }

        ul {
            display: inline-flex;
            align-items: center;
            gap: 30px;
            list-style-type: none;
            margin: 0;
            
            li {
                text-transform: uppercase;
                font-size: 14px;
                line-height: 26px;
                font-family: var(--aleo-font);
                
            }
        }
        :hover {
            li {
                cursor: pointer;
                }
        }
    }
}

